{{#link-to 'indiv-quest' question.id}}
<div class="home">
<ul>
  <li id="title"><h2> {{question.main}}</h2></li>
  <li><h4 id="author">Asked by: {{question.author}}</h4></li>
</ul>
</div>
{{/link-to}}
