<div class="col-md-8">
<h2>{{question.main}}</h2>
<h4>{{question.note}}</h4>

<h3>Answers:</h3>

  <ol>
    {{#each question.answers as |answer|}}
      <li>{{show-answer answer=answer}}</li>
    {{/each}}
  </ol>
</div>
  <div class="col-md-4">
    <h4> Asked by: {{question.author}}</h4>
  </div>
