<div class="container">
  <h1>About</h1>
  <p>Never Done Learning is a web application designed to connect you the user with a limitless amount of people in order to gain and share information. The only rules are to be respectful and never insult someone for asking a question. Just because something may seem simple to you does not mean everyone should know it. You don't know where people come from and we want to make a supportive enviorment for people to learn.</p>
</div>
