<h1>Never Done Learning</h1>

<h3>The only bad question is the question never asked</h3>
<ul class=custNav>
<li>{{#link-to 'index'}}Home{{/link-to}}</li>
<li>{{#link-to 'about'}}About{{/link-to}}</li>
<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
</ul>
{{outlet}}
